*{
    margin:0px;
    padding:0px;
}

*,*::before,*::after{
    box-sizing: border-box;

}
:root {
    --font_color:#323232;
    --accent_color:#9955ffff;
    --box-shadow-default:1px 2px 10px 0px rgba(0, 0, 0, 0.3);

}
body{

    
    /* the above section is for font_calculation */
    font-family:system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width:100%;
    font-size:1rem;
    line-height: 1.50rem;
    color:var(--font_color)


}
/* head section */
.head_section {

   
    position:fixed;
    top:0;
    left:0;
    width:100%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    background-color: white;

}
nav {
    position:absolute;
    width:100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.089);
    background-color: white;


}
.navbar {
   
    text-align:center;
    margin:px 0 10px 0;
}
.navbar ul{
    list-style:none;
}

.navbar a {
    text-decoration: none;
    color:var(--font_color)
    padding:4px;
    margin:5px;
}
.navbar a:hover{
    color:var(--accent_color)
}
.navbar_toggle{
    display:none;
}
.navbar_toggle:checked ~ nav{
    transform: scale(1,1);
}
.navbar_toggle:checked ~ nav{
    transform: scale(1,1);
}
.navbar_toggle_label{
    border:1px solid black;
    display: inline-flex;
    margin-left:20px;
 

}

@media screen and (min-width:480px){
    .head_section{

        border:none;

    }
   nav {
       transform: scale(1,1);
       box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
       
   }
   .navbar ul{
       display:flex;
       flex-flow:row wrap;
       justify-content: center;


   }
   .navbar ul li{
       margin:0.5rem 1rem 0.5rem 2rem;
   }
   .navbar_toggle_label{
       display: none;
   }
}
/* Welcome section */
.welcome {
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.about_me{
    
    max-width: 80vw;
    margin-top:5rem;
    padding:2rem;
    border-radius: 5px;
    
}
@media screen and (min-width:700px){
    .about_me{
        width:50vw;
        margin-top:0;
        box-shadow: var(--box-shadow-default);
       
    }
}
.projects{

    width:100%;
 
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.card_container{
    display:flex;
    flex-flow: column;
    width: fit-content;
    margin:2em;
}
.card {

    height:400px;
    width:400px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-default);
    background-color:#5CA4EA;
   
}
.card_bottom{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
 
    width:400px;
}
.card_bottom p{
    padding: 3px;
    color: rgba(33, 190, 211, 0.8);
    margin:4px;
    border-radius: 1px;

}
@media screen and (max-width:480px){
    .card ,.card_bottom{
        width:80vw;
        font-size: 0.80rem;
    }
    .card{
        height:80vw;
    }

}
/* bottom section */
.bottom_section{
    border-top:1px solid lightgrey;
    color:rgba(75,85,99);
    height:50vh;
    width:100%;
   
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.bottom_section p {
    text-align: center;
    padding: 20px;
}
.email_link{
    background-color: var(--accent_color);
    color:white;
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    
}
.copy_icon{
    padding: 5px;
}
.email_link p{

    padding:0.5rem 1rem 0.5rem 1rem;
}