*{
    margin:0px;
    padding:0px;
}

*,*::before,*::after{
    box-sizing: border-box;

}
body{

    
    /* the above section is for font_calculation */
    font-family: sans-serif;
    width:100%;


}

.head_section {

    background-color: cyan;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:54px;

}

.welcome {
    height:100vh;
    background-color: antiquewhite;
}

.projects{

    height:200vh;
    width:100%;
}
.bottom_section{
    border-top:1px solid lightgrey;
    color:rgba(75,85,99);
    height:50vh;
    width:100%;
   
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* Footer section */

.bottom_section p {
    text-align: center;
    padding: 20px;
}
.email_link{
    border:2px solid grey;
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    
}
.copy_icon{
    padding: 5px;
}
.email_link p{

    padding:0.5rem 1rem 0.5rem 1rem;
}