*{
    margin:0px;
    padding:0px;
}

*,*::before,*::after{
    box-sizing: border-box;

}
:root {
    --font_color:#323232;

}
body{

    
    /* the above section is for font_calculation */
    font-family: sans-serif;

    width:100%;
    font-size:1rem;
    line-height: 1.50rem;
    color:var(--font_color)


}
/* head section */
.head_section {

   
    position:fixed;
    top:0;
    left:0;
    width:100%;
    border-bottom:1px solid lightgrey;

}
nav {
    position:absolute;
    width:100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    border-bottom:1px solid lightgrey;


}
.navbar {
   
    text-align:center;
    margin:px 0 10px 0;
}
.navbar ul{
    list-style:none;
}

.navbar a {
    text-decoration: none;
    color:var(--font_color)
}
.navbar_toggle{
    display:none;
}
.navbar_toggle:checked ~ nav{
    transform: scale(1,1);
}
.navbar_toggle:checked ~ nav{
    transform: scale(1,1);
}
.navbar_toggle_label{
    border:1px solid black;
    display: inline-flex;
    margin-left:20px;
 

}
/* Welcome section */
.welcome {
    height:100vh;
  
}

.projects{

    width:100%;
}

/* bottom section */
.bottom_section{
    border-top:1px solid lightgrey;
    color:rgba(75,85,99);
    height:50vh;
    width:100%;
   
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* Footer section */

.bottom_section p {
    text-align: center;
    padding: 20px;
}
.email_link{
    border:2px solid grey;
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    
}
.copy_icon{
    padding: 5px;
}
.email_link p{

    padding:0.5rem 1rem 0.5rem 1rem;
}